.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.main_heading{
    font-size: 40px;
    font-weight: bolder;
    color: white;
}
.main_heading-2{
    color: #cc06bc;
}
@media only screen and (max-width: 480px) {
    .main_heading{
        font-size: 30px;
        font-weight: bolder;
        color: white;
    }
  }
